body {
  font-family: 'Merriweather Sans';
  text-align: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.hero {
  background-image: url('../img/bg-masthead.jpg');
  background-size: cover;
  padding: 60px 0;
}

.hero .hero__title {
  color: #fff;
  margin: 0;
  padding: 0 25px;
  text-transform: uppercase;
  line-height: 1.3;
}

.hero .hero__paragraph {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
  opacity: 0.7;
  padding: 30px 35px;
}

.btn-primary {
  background-color: #f4623a;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding: 20px 30px;
  text-transform: uppercase;
}

.btn-secondary {
  background-color: #fff;
  border-radius: 30px;
  border: none;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  padding: 20px 30px;
  text-transform: uppercase;
}

.introduction {
  background-color: #f4623a;
  color: #fff;
  padding: 100px 0;
}

.introduction .introduction__title {
  font-weight: 400;
  margin: 0;
}

.introduction hr {
  border: 2px solid #fff;
  height: 0;
  margin: 20px auto;
  width: 50px;
}

.introduction .introduction__paragraph {
  font-weight: 300;
  line-height: 1.5;
  opacity: 0.5;
  padding: 0 15px 10px;
}

.characteristics .characteristics__title, .characteristics__item-title {
  font-weight: 400;
}

.characteristics .characteristics__item-paragraph {
  font-weight: 500;
  opacity: 0.6;
  padding: 0 20px;
  line-height: 1.5;
}

.characteristics {
  padding: 100px 0;
}

.characteristics .characteristics__item {
  margin-top: 60px;
}

.primary-separator {
  border: 2px solid;
  color: #f4623a;
  height: 0;
  width: 50px;
}

.primary-icon {
  color: #f4623a;
}

.gallery .gallery__item-overlay {
  opacity: 0;
}

.gallery .gallery__item {
  background-size: cover;
  height: 200px;
}

.gallery .gallery__item-1 {
  background-image: url('../img/1.jpg');
}

.gallery .gallery__item-2 {
  background-image: url('../img/2.jpg');
}

.gallery .gallery__item-3 {
  background-image: url('../img/3.jpg');
}

.gallery .gallery__item-4 {
  background-image: url('../img/4.jpg');
}

.gallery .gallery__item-5 {
  background-image: url('../img/5.jpg');
}

.gallery .gallery__item-6 {
  background-image: url('../img/6.jpg');
}

@media only screen and (min-width: 640px) {
  .characteristics .characteristics__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
  }

  .characteristics .characteristics__item {
    flex: 0 0 50%;
  }

  .characteristics .characteristics__paragraph {
    font-size: 17px;
    padding: 0 15px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery .gallery__item {
    cursor: pointer;
    flex: 0 0 33.3%;
    height: 250px;
  }

  .gallery .gallery__item:hover .gallery__item-overlay {
    align-items: center;
    background-color: #f4623a;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    opacity: 0.6;
    transition: opacity .5s ease;
  }
}

@media only screen and (min-width: 1024px) {
  .characteristics .characteristics__item {
    flex: 0 0 25%;
  }
}
